@page
@model WebApp_Security.Pages.HumanResourceModel
@{
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">欢迎来到人力资源部门</a>.</p>
</div>